html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#custom-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

    #custom-table td, #custom-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #custom-table tr:hover {
        background-color: #ddd;
    }

    #custom-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #7E999D;
        color: white;
    }

.customBtn {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-weight: bold;
}